

<% @articles.each do |article| %>
    <br/>-----------------<br/>

        <%= link_to h(article.title) %>

        <br/>
        <%= simple_format ('<a href="http://localhost:3000/tatics">Example</a>') %>
        <br/>
    
        <%= article.content.truncate_words(8).html_safe %><br/>
        <%= truncate("Once upon a time in a world far far away") { link_to "Continue", "#" } %>

<% end %>
